*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #0a0303;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container{
    width: 90%;
    margin: 0px auto;
}
header h1{
    background:#a50e0e;
    background-image: url('imgs/banner.jpg');
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color:rgb(255, 255, 255);
    border-bottom: 0px solid #ffffff;
    font-size:50px;
}
h2{
  text-align: center;
  padding-bottom: 10px;  
}
nav{
    background: #000000;
    height: 50px;
    border-bottom:0px solid #ffffff;
    
}
nav ul li{
    float:left;
    list-style:none;
    margin: 10px;
    color:beige;
    font-size: 20px;
    line-height: 30px;
  
}
nav a {
  text-decoration: none;     
  color: white;              
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}
.clear{
    clear:both;
}
#contenido{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background:#ffffff;
    padding:40px;
}
.article{
    color:#000000;
    margin-top: 15px; ;
    margin-bottom: 15px;
    padding-bottom:20px;
    border-bottom: 1px solid #000000;
    border-left:1px solid #000000;
    padding-left:10px;
    border-right: 1px solid #000000;
    padding-right:10px;
    border-top: 1px solid #000000;
    padding-top:10px;
    text-align: justify;
}
.entrada{
    text-align: justify;
    margin-top: 15px; ;
    margin-bottom: 15px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
}
.texto{
    display: flex;
    align-items: center;
    gap: 20px;
    flex:1; 
}
.imagen-articulo{
    width: 300px;
    height: auto;
    border-radius: 10px;
}
aside{
    float:right;
    width: calc(20% - 20px);
    min-height: 600px;
    background: #a50e0e;
    padding:  10px;
    padding-left: 10px solid #000000;
    color: #ffffff;
}
footer{
    background: #000000;
    color: #ffffff;
    text-align: center;
    height: 50px;
    line-height: 50px;

}
.botonArt{
    background-color: #a50e0e;
    color: #ffffff;
    padding: 10px 20px ;
    border: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    
}
.botonBus{
    background-color: #000000;
    color: #ffffff;
    padding: 8px 8px;
    border: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
